    body {
        margin: 0 auto;
        padding: 0;
    }    
        
    .buttons {
        color: gray;
        font-size: 13px;
        width: 130px;
        background-color: #f0f0f0;
        height: 36px;
        font-weight: bold;
        border-radius: 2px;
        border: none;
        margin: 2px;
    }
    
    .buttons:hover {
        color: black;
        border-style: solid;
        border-width: 1px;
        border-color: #9a9a9a;
        box-shadow: .5px .5px .25px #888888;
    }
    
    .logo {
        width: 275.25px;
        height: 90px;
        display: block;
        margin: 0 auto;
        padding-top: 150px;
    }
    
    .searchBar {
        text-align: center;
        padding-bottom: 30px;
        margin: auto;
    }
        
    .searchBar input {
      width: 24em;
      margin: auto;
      padding: 6px 8px 6px 8px;
      border: 1px solid #d5d5d5;
      display: inline-block;
      font-size: 1.5em;
      vertical-align: middle;
      box-shadow: 0 2px 1px -1px lightgray;
    }
    
    .searchBar input:hover {
      box-shadow: 0px 2px 8px  lightgray;
    }
        
    .topBar {
      text-align: right;
      position: relative;
      font-size: 11pt;
      margin: 12px 20px;
    }
     
    .bell {
        vertical-align: middle;
    }
        
    .grid {
      width: 16px;
      height: 16px; 
      vertical-align: middle;    
    }
        
    .portrait {
      width:30px;
      height: 30px;
      border-radius: 100%;
      vertical-align: middle;
      margin-top: 2px;
    }    
    
    footer {
      background-color:#F3F2F2;
      bottom: 0;
      position:fixed;
      width:100%;
      font-size: 15px;
    }
        
    footer li {
      margin: 0 6px 0 6px;
    }    
    
    a {
      text-decoration: none;
      color: grey;
      margin: 4px;
    }
    
     a:hover {
      text-decoration: underline;
    }
    
    li {
      display: block;
      padding: 10px;
    }
    
        
    ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
   }    
        